<div [formGroup]="form">
    <mat-form-field>
        <mat-label>{{ input.label | translate }}</mat-label>
        <mat-select [formControlName]="input.key" (selectionChange)="valueUpdated.emit()">
            <mat-option *ngFor="let option of input.options" [value]="option.value">
                {{ option.label | translate }}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="input.config.hint">{{ input.config.hint | translate }}</mat-hint>
        <mat-error *ngIf="form.controls[input.key]?.errors?.required">
            {{ 'validations.required' | translate }}
        </mat-error>
    </mat-form-field>
</div>
